body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(39, 48, 48);
    user-select: none;
}

#appwrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title span{
    /*color: #f5f2d0;*/
    color: rgb(255, 198, 10);
}

.title div{
    color: #faf6cb;
}

.sidebar{
    width: 300px;
    max-height: 80%;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar > *{
    width: 80%;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.sidebar > * > *{
    padding: 10px 0;
}

.dropdownwrapper{
    position: relative;
    margin: 4px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

.dropdown{
    border: rgb(255, 198, 10) 1px solid;
    padding: 4px;
    min-width: 100px;
    color: rgb(255, 198, 10);
}

.dropdown + div{
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(39, 48, 48);
}

.dropdown + div > *{
    padding: 4px;
    margin: 2px;
}

.dropdownwrapper:hover{
    background-color: rgb(59, 68, 68);
}

.dropdownwrapper:hover .dropdown + div{
    display: block;
}

.dropdown + div > *:hover{
    background-color: rgb(59, 68, 68);
}

.description div{
    font-size: 14px;
}

.toggle{
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: rgb(255, 198, 10) 1px solid;
    font-size: 100%;
    color: rgb(255, 198, 10);
}

.toggle:hover{
    background-color: rgb(59, 68, 68);
}

.toggle::after{
    content: '✔';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.toggle:hover::after{
    display: block;
    color: rgba(255, 198, 10, 0.65);
}

.checked.toggle::after{
    display: block;
}

.checked.toggle:hover::after{
    color: rgb(255, 198, 10);
}

.hidden{
    display: none;
}

.cell{
    fill: rgba(255,255,255,0.1);
    stroke: rgb(255,255,255,0.3);
    stroke-width: 2px;
}

.marker{
    fill: rgba(255,198,10,0.2);
    stroke: rgb(255,198,10);
    stroke-width: 2px;
}

.deadzone{
    fill: rgba(204,0,0,0.2);
    stroke: rgb(204,0,0);
    stroke-width: 2px;
}

.sliderwrapper{
    height: 30px;
    width: 80%;
    cursor: pointer;
    border: rgb(255, 198, 10) 1px solid;
    margin: 5px 0;
    padding: 5px;
}

.slider{
    height: 100%;
    width: 100%;
}

.slidertrolley{
    height: 15%;
    width: 90%;
    background-color: rgb(255, 198, 10);
    position: relative;
}

.slidericon{
    position: absolute;
    height: 20px;
    width: 5px;
    background-color: #faf6cb;
    left: -2.5px;
    top: calc(50% - 10px)
}
